<div class="container">
  <div class="tituloSeccion">
    <h1>Video</h1>
  </div>
</div>

<div class="row">
  <div class="col-4" *ngFor="let video of videos | async">
    <!--Card-->
    <div class="card">

      <!--Card image-->
      <a [href]="video.url" target="_blank">
        <img class="img-fluid" [src]="video.img" alt="Card image cap">
      </a>

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title">{{ video.titulo }}</h4>
        <!--Text-->
        <p class="card-text">{{ video.descripcion }}</p>
      </div>

    </div>
    <!--/.Card-->
  </div>
</div>

<div class="container">
  <div class="tituloSeccion">
    <h2>Crear Video</h2>
  </div>
</div>

<app-crear-video></app-crear-video>